<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xss</title>
</head>
<body>
    <div>用户评论：{{ .str1 }}</div>
    <div>用户评论：{{ .str2 | safe }}</div>
</body>
</html>